In [1]:
import requests 
from bs4 import BeautifulSoup

url = 'https://www.worldometers.info/world-population/population-by-country/'
requests.get(url)

In [21]:
page = requests.get(url) 
soup = BeautifulSoup(page.text, 'html')

In [27]:
table = soup.find('table','table table-striped table-bordered')

In [43]:
world_columns = table.find_all('th')

In [47]:
all_columns = [columns.text for columns in world_columns]
print(all_columns)

['#', 'Country (or dependency)', 'Population (2024)', 'Yearly Change', 'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share']

In [173]:
import pandas as pd
df = pd.DataFrame(columns = all_columns)

In [193]:
world_rows = soup.find_all('tr')
for row in world_rows:
    row_data = row.find_all('td')
    if row_data:  
        table_row = [data.text.strip() for data in row_data]
        df.loc[len(df)] = table_row 
df

,#,Country (or dependency),Population (2024),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,"1,450,935,791",0.89 %,"12,866,195",488,"2,973,190","-630,830",2.0,28,37 %,17.78 %
1,2,China,"1,419,321,278",-0.23 %,"-3,263,655",151,"9,388,211","-318,992",1.0,40,66 %,17.39 %
2,3,United States,"345,426,571",0.57 %,"1,949,236",38,"9,147,420","1,286,132",1.6,38,82 %,4.23 %
3,4,Indonesia,"283,487,931",0.82 %,"2,297,864",156,"1,811,570","-38,469",2.1,30,59 %,3.47 %
4,5,Pakistan,"251,269,164",1.52 %,"3,764,669",326,"770,880","-1,401,173",3.5,20,34 %,3.08 %
...,...,...,...,...,...,...,...,...,...,...,...,...
931,230,Montserrat,"4,389",-0.70 %,-31,44,100,-7,1.4,42,11 %,0.00 %
932,231,Falkland Islands,"3,470",-0.20 %,-7,0,"12,170",-13,1.7,42,68 %,0.00 %
933,232,Tokelau,"2,506",4.55 %,109,251,10,72,2.6,27,0 %,0.00 %
934,233,Niue,"1,819",0.11 %,2,7,260,10,2.5,36,44 %,0.00 %
935,234,Holy See,496,0.00 %,0,"1,240",0,18,1.0,59,N.A.,0.00 %